@import url(//fonts.googleapis.com/css?family=Montserrat);

.jimu-main-font {
  font-family: 'Montserrat';
}

.jimu-main-background {
  background-color: #002F5D;
}

.jimu-title,
.jimu-subtitle {
  color: #FFFF;
}

.jimu-widget-header-controller {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #62BD19;
}

.jimu-widget-header-controller .icon-node {
  opacity: 1;
  background: #62BD19;
  border-right: 0;
  margin-top: 40px;
  margin-right: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.jimu-widget-header-controller .icon-node.jimu-state-selected {
  opacity: 0.8;
  border-top: 0;
  background-color: #00529B;
}

.jimu-on-screen-widget-panel>.jimu-panel-title,
.jimu-foldable-panel>.jimu-panel-title {
  background-color: #00529B;
}

.esriPopup .titlePane {
  background-color: #00529B;
}
